*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: url(./images/retro-living-room-interior-design-c362cb6e-f482-4ca4-97bf-0b845c268977.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    margin: 30px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav ul {
        display: flex;
        flex: 1;
        text-align: center;
        align-items: center;
        margin-left: 30%;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    text-transform: capitalize;
    padding: 20px;
    color: #ffffff;
}

.phone {
    width: 2%;
    position: absolute;
    right: 12%;
    top: 7%;
    
}

hr {
    width: 50%;
    position: relative;
    top: 10px;
    left: 42%;
}

.heading {
    margin-top: 10%;
    margin-left: 10%;
}

.heading h1 {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 50px;
}

.button {
    color: #ffffff;
    margin-top: 60px;
    padding: 20px 40px;
    border: 2px solid #ffffff;
    border-radius: 40px;
    background: transparent;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
}

.container {
    float: right;
    color: #ffffff;
}

.col-1 h5 {
    position: relative;
    bottom: 5px;
    right: 20px;
    
}

.container .col-1 {
    position: absolute;
    bottom: 50%;
    top: 40%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 60px 40px;
    width: 10%;

}

.col-1 img {
    width: 10%;
    position: absolute;
    top: 10%;
    right: 60%;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 20px;
}

.col-1 hr {
    transform: rotate(90deg);
    position: absolute;
    top: 134%;
    left: 40%;
    width: 40%;
}

.col-2 {
    position: absolute;
    bottom: 1%;
    right: 40%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 30px;
}
.col-2 hr {
    position: relative;
    left: 119%;
}

.col-2 img {
    width: 15%;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 40px;
    position: relative;
    bottom: 10px;
    right: 10px;
    top: 5px;
}

.col-2 h5 {
    position: relative;
    right: 10px;
    top: 10px;
}

.dot-up,.dot-down {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #ffffff;
}
.dot-up {
    position: relative;
    top: 90px;
    left: 60%;
}

.dot-down {
    position: relative;
    left: 160%;
}